#warning{
    margin-left: 50px;
    
}
    
.alert{
    height: 45px;}
  #logo{
    margin-left: 50px;
  }  

  #logo1{color: green;
         font-weight: bold;
        
}
  #logo2{color: green;
    font-size: 15px;
}
      #logo3{color: green;
        font-size: 10px;
    }  